<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.yukti.examquiz" version="1.0.0"
xmlns="http://www.w3.org/ns/widgets"
xmlns:android="http://schemas.android.com/apk/res/android">
<name>YC EXAM QUIZ</name>
<content src="index.html"/>
<access origin="*"/>
<allow-navigation href="*"/>
<preference name="AndroidXEnabled" value="true"/>
</widget>